html
{
	background-image: url('../img/back.png');
}
.anim-rgb-border
{
	border: 0.1vw solid #fff;
}
header
{
	background-color: #ad2e24;
}
header h1
{
	color: white;
}
h2
{
	color: white;
}
th
{
	color: white;
}
h3
{
	color: white;
}
footer p
{
	color: white;
}
p
{
	color: white;
}
b
{
	color: white;
}
label
{
	color: white;
}
div.visual
{
	background-color: #ad2e24;
}
td
{
	color: white;
}
article li
{
	color: white;
}
nav ul 
{
  background-color: #ad2e24;
}
nav li a 
{
  color: white;
}
nav li a:hover 
{
  background-color: #81171b;
}
nav li a.active
{
	background-color: #ea8c55;
}
nav li button 
{
  color: white;
  background-color: #ad2e24;
}
nav li button:hover 
{
  background-color: #81171b;
}
nav li button.active
{
	background-color: #ea8c55;
}
article a.visual
{
	color: white;
	background-color: #ad2e24;
}
article a.visual:hover
{
	background-color: #81171b;
}
table.visual
{
	border: 1px solid white;
	background-color: #ad2e24;
}
table.visual tr td
{
	border: 1px solid white;
}
table.visual tr th
{
	border: 1px solid white;
}
a
{
	color: white;
}
a:hover
{
	color: white;
}
footer
{
	background-color: #ad2e24;
}
article
{
	background-color: #c75146e6;
}
nav
{
	background-color: #ad2e24;
}
button.download
{
	color: white;
	background-color: DodgerBlue;
}
button.download:hover
{
	background-color: RoyalBlue;
}
input.submit 
{
background-color: #ad2e24;
color: #fff;
border: 0.1vw solid #000;
}
input.submit:hover 
{
	background-color: #81171b;
}
.text-hover-anim-float
{
	color: white;
	text-shadow:
        1px 1px 0 #aaa,
        2px 2px 0 #bbb,
        3px 3px 0 #bbb,
        4px 4px 0 #bbb,
        4px 4px 15px #000,
        4px 4px 5px #000;
}
.text-hover-anim-float:hover
{
	text-shadow:
        1px 1px 0 #aaa,
        2px 2px 0 #bbb,
        3px 3px 0 #bbb,
        4px 4px 0 #bbb,
        13px 13px 35px #000,
        13px 13px 20px #000;
}
.flipBack
{
	background-color: #ad2e24;
}